*{
    padding: 0;
     margin: 0;
     box-sizing: border-box;
      }
 html, body {
     background-color: black;
     height: 100%; /* Asegura que el body y html ocupen todo el alto de la pantalla */
    overflow-x: hidden;
 }
 body {
     background-color: black;
 }
 .contenedor {
    width: 100%;
    height: auto;
 }
 .contenedor img {
    width: 100%; /* La imagen ocupa el 100% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
}
 nav ul {
     background-color: #363434cb;
     width: 100%;
     list-style-type: none;
     text-align: center;
 }
 nav li {
     display: inline-flex;
 }
 nav a{
     text-decoration: none;
     color: white;
     padding: 7px;
     width: 200px;
 }
 nav li:hover{
     background-color: rgb(88, 88, 88);
 }
 main {
     width: 80%;
     margin: auto;
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
 }
 main img {
     width: 50px;
     max-width: 270px; /* Limita el tamaño máximo de las imágenes */
     height: auto;
     object-fit: cover;
 }
 main div {
     margin-top: 30px;
 }
 footer {
    margin-top: 450px;
    border-radius: 0;
}


/*PRUEBAAAAAAAAAAA*/

/* Media Queries para hacer que se adapte en pantallas pequeñas */

@media screen and (max-width: 1024px) {
    nav ul {
        display: flex;
        flex-direction: column; /* Los enlaces se apilan verticalmente */
        align-items: center;
    }

    nav li {
        margin-bottom: 10px; /* Espaciado entre los enlaces */
    }

    /* Ajustes en el contenedor principal */
    main {
        width: 90%; /* El área principal ocupa el 90% del ancho */
        grid-template-columns: 1fr 1fr; /* Dos columnas */
    }

    main img {
        width: 100%; /* Las imágenes ocupan todo el ancho disponible */
        max-width: 270px; /* Limita el tamaño máximo de las imágenes */
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 100%; /* El área principal ocupa el 100% */
        grid-template-columns: 1fr; /* Una sola columna */
    }

    main img {
        width: 100%;
        max-width: 270px; /* Limita el tamaño máximo de las imágenes */
        height: auto;
    }

    footer {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav li {
        margin-bottom: 5px; /* Espaciado entre los enlaces */
    }

    main {
        width: 100%;
        grid-template-columns: 1fr; /* Una sola columna */
    }

    main img {
        width: 100%;
        height: auto;
        max-width: 270px; /* Limita el tamaño máximo de las imágenes */
    }

    footer {
        margin-top: 20px;
    }
}